body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    position: relative;
    background: linear-gradient(
        to bottom,
        rgb(from var(--primary) r g b / 5%),
        rgb(from var(--primary) r g b / 20%)
    );
    overflow: hidden;
}
.circle1,
.circle2,
.circle3{
    width: 544px;
    height: 544px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}
.circle1{
    top: -58px;
    left: -2px;
    background-color: #FBE2D0;
    border: 1px solid #FDF7F1;
}
.circle2{
    left: 0;
    top: 480px;
    background-color: #FDF5EE;
    border: 1px solid rgba(from var(--primary) r g b / 10%);
}
.circle3{
    left: 1021px;
    top: -64px;
    background-color: #FEFBF8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 24px solid #FDF5EE;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    min-height: 736px;
    background-color: #fff;
    padding: 48px 0;
}
main > article{
    width: 50%;
}
main article:first-of-type{
     display: flex;
     align-items: center;}
main article:first-of-type img{
    width: 100%;
    height: 536px;
    max-width: 360px;
}
main article:last-of-type{
    display: flex;
    justify-content: center;
    text-align: center;
}
main article:last-of-type div{
    height: fit-content;
    width: var(--btn-w);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main article:last-of-type div p:nth-of-type(1),
main article:last-of-type div p:nth-of-type(2),
main article:last-of-type div p:nth-of-type(3){
    font: 700 var(--font-size) var(--font-family);
    width: 100%;
    height: 40px;
    direction: rtl;
}
main article:last-of-type div p:nth-of-type(1){
    color: var(--second-color-1);
    text-transform: capitalize;
    margin-bottom: 16px;
}
main article:last-of-type div p:nth-of-type(2){
    color: var(--primary);
    margin-bottom: 40px;
    width: 400px;
    text-wrap: nowrap;
}
main article:last-of-type div > a{
    width: 100%;
    height: var(--btn-h);
    border-radius: var(--btn-radius);
    margin-bottom: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    font-size: var(--font-size-s);
}
main article:last-of-type div > a:nth-of-type(1){
    background-color: #3E569F;
}
main article:last-of-type div > a:nth-of-type(2){
    background-color: #1B76D3;
}
main article:last-of-type div > a:nth-of-type(3){
    background-color: var(--second-color-5);
}
main article:last-of-type div > a div{
    width: fit-content;
    position: absolute;
    left: 16px;
}
main article:last-of-type div p:nth-of-type(3){
    font-weight: normal;
    font-size: 20px;
    color: var(--gray);
    margin: 8px;
}
main article:last-of-type div p:nth-of-type(3) span a{
    font-weight: bold;
    font-size: var(--font-size);
    color: var(--primary);
    text-decoration: none;
    text-transform: capitalize;
}
main div a:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
    transition: all .5s;
}
@media (max-width: 768px) {
    html{
        overflow: hidden;
    }    
    body{
        padding: 10px;
    }
    .circle1,
    .circle2,
    .circle3{
        width: 0;
        height: 0;
    }
    main{
        height: 100%;
        padding: 0;
    }
    main > article{
        width: 100%;
    }
    main article:first-of-type{
        height: 35%;
    }
    main article:first-of-type img{
        max-width:100%;
        height: 100%;
    }
    main article:last-of-type{
        height: 65%;
    }
    main article:last-of-type div p:nth-of-type(2),
    main article:last-of-type div > a{
    margin-bottom: 10px;
    }
    main article:last-of-type div p:nth-of-type(2){
        height: fit-content;
        text-wrap: wrap;
    }
}
@media (max-width: 480px){
    main article:first-of-type{
        height: 45%;
    }
    main article:last-of-type{
        height: 55%;
        margin-top: 10px;
    }
}